<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Login_form</title>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
<h1>Login Page</h1>

<div class="login-container">
    <div class="center-block">
        <form action="/joinChart" method="get">
            <input name="username" id="username" type="text"><br><br>
            <input type="submit" value="enter your name">
        </form>
    </div>
</div>

</body>
</html>